# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
*.pyc
*$py.class
.Python
env/
venv/
ENV/
env.bak/
virtualenv/
VirtualEnv/
virtualenv.bak/
.vscode/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.mypy_cache
*.pytype
*.swp
*.swo
*.swn

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
lerna-debug.log*

# Build outputs
dist/
build/
temp_dist/
*.spec

# OS
.DS_Store
Thumbs.db